<div class="major-slider-container ">
      <div class="major-banner-img-container">
            <input type="radio" name="switch" id="switch-btn-first" checked>
            <input type="radio" name="switch" id="switch-btn-second">
            <input type="radio" name="switch" id="switch-btn-third">

            <div class="major-banner-switch">
                  <label for="switch-btn-first"></label>
                  <label for="switch-btn-second"></label>
                  <label for="switch-btn-third"></label>
            </div>

            <div class="major-banner-slider-inner noselect">
                  <div class="major-banner-slides">
                        <img
                              src="/Resource/MAJOR-SLIDER1.png" />
                        <img
                              src="/Resource/MAJOR-SLIDER2.png" />
                        <img
                              src="/Resource/MAJOR-SLIDER3.png" />
                  </div>
            </div>
      </div>
      <div class="major-banner-text-container">
            <div class="major-banner-title noselect">
                  Keep an eye on your Projects
            </div>

            <div class="major-banner-description">
                  <div class="major-banner-content">
                        From the start of development to the support stage. Manage test automation
                        projects with maximum convenience.
                  </div>
                  <a class="major-banner-link noselect" href="/gettingstarted">Getting started</a>
            </div>
      </div>
</div>