@inject IJSRuntime JsRuntime

<div class="major-slider-container ">
      <div class="major-banner-img-container">
            <div class="major-banner-switch">
                  <label class="switch-btn-default @((startPosition == FirstPosition ? "switch-btn-active" : ""))"
                        @onclick="gotoFirstSlide"></label>
                  <label class="switch-btn-default @((startPosition == SecondPosition ? "switch-btn-active" : ""))"
                        @onclick="gotoSecondSlide"></label>
                  <label class="switch-btn-default @((startPosition == ThirdPosition ? "switch-btn-active" : ""))"
                        @onclick="gotoThirdSlide"></label>
            </div>

            <div class="major-banner-slider-inner noselect" @ontouchstart="HandleTouchStart"
                  @ontouchmove="HandleTouchMove" @ontouchend="HandleTouchEnd" @bind-style="swapeAnimation"
                  @bind-style:event="oninput">
                  <div class="major-banner-slides">
                        <img src="/Resource/MAJOR-SLIDER1.png" />
                        <img src="/Resource/MAJOR-SLIDER2.png" />
                        <img src="/Resource/MAJOR-SLIDER3.png" />
                  </div>
            </div>
      </div>
      <div class="major-banner-text-container">
            <div class="major-banner-title noselect">
                  Keep an eye on your Projects
            </div>

            <div class="major-banner-description">
                  <div class="major-banner-content">
                        From the start of development to the support stage. Manage test automation
                        projects with maximum convenience.
                  </div>
                  <a class="major-banner-link noselect" href="/gettingstarted">Getting started</a>
            </div>
      </div>
</div>

@code {
      private IJSObjectReference jsModule;
      
      System.Threading.Timer timer = null!;
      TouchPoint referencePoint = null!;

      double startPosition = FirstPosition;
      double imgPosition = FirstPosition;
      string swapeAnimation = "transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;";

      public const int FirstPosition = 0;
      public const int SecondPosition = -100;
      public const int ThirdPosition = -200;

      protected override async Task OnInitializedAsync()
      {
            await base.OnInitializedAsync();
            timer = new System.Threading.Timer(SetClock, new System.Threading.AutoResetEvent(false), 5000, 5000);
      }

      private void SetClock(object stateInfo)
      {
            switch (startPosition)
            {
                  case FirstPosition:
                        gotoSecondSlide();
            break;
                  case SecondPosition:
                        gotoThirdSlide();
                        break;
                  case ThirdPosition:
                        gotoFirstSlide();
                        break;
            }
            StateHasChanged();
      }


      void HandleTouchStart(TouchEventArgs t) => referencePoint = t.TargetTouches[0];

      void HandleTouchMove(TouchEventArgs t)
      {
            if (referencePoint == null)
                  return;

            var endReferencePoint = t.TargetTouches[0];

            var diffX = referencePoint.ClientX - endReferencePoint.ClientX;
                  switch (diffX)
                  {
                        case > 0:
                              imgPosition = -diffX + startPosition;
                              swapeAnimation = "transform: translate3d(" + imgPosition + "px, 0px, 0px); transition-duration: 0ms;";
                              break;
                        case < 0:
                              imgPosition = -diffX + startPosition;
                              swapeAnimation = "transform: translate3d(" + imgPosition + "px, 0px, 0px); transition-duration: 0ms;";
                              break;

                  }
      }

      void HandleTouchEnd(TouchEventArgs t)
      {
            switch (startPosition)
            {
                  case FirstPosition:
                        switch (imgPosition)
                        {
                              case <= 0:
                                    startPosition = SecondPosition;
                                    imgPosition = startPosition;
                                    break;
                              default:
                                    startPosition = FirstPosition;
                                    imgPosition = startPosition;
                                    break;
                        }
                        break;
                  case SecondPosition:
                        switch (imgPosition)
                        {
                              case >= -487:
                                    startPosition = FirstPosition;
                                    imgPosition = startPosition;
                                    break;
                              case <= -1840:
                                    startPosition = ThirdPosition;
                                    imgPosition = startPosition;
                                    break;
                              default:
                                    startPosition = SecondPosition;
                                    imgPosition = startPosition;
                                    break;
                        }
                        break;

                  case ThirdPosition:
                        switch (imgPosition)
                        {
                              case >= -1658:
                                    startPosition = SecondPosition;
                                    imgPosition = startPosition;
                                    break;
                              default:
                                    startPosition = ThirdPosition;
                                    imgPosition = startPosition;
                                    break;
                        }
                        break;
            }

            swapeAnimation = "transform: translate3d(" + imgPosition + "%, 0px, 0px); transition-duration: 300ms;";
      }

      void gotoFirstSlide()
      {
            startPosition = FirstPosition;
            swapeAnimation = "transform: translate3d(" + startPosition + "%, 0px, 0px); transition-duration: 300ms;";
      }


      void gotoSecondSlide()
      {
            startPosition = SecondPosition;
            swapeAnimation = "transform: translate3d(" + startPosition + "%, 0px, 0px); transition-duration: 300ms;";
      }

      void gotoThirdSlide()
      {
            startPosition = ThirdPosition;
            swapeAnimation = "transform: translate3d(" + startPosition + "%, 0px, 0px); transition-duration: 300ms;";
      }
}