.major-slider-container {
    overflow: hidden;
    margin: 0 auto;
    width: 1170px;
    height: 670px;
    margin-bottom: 50px;
}

.major-banner-img-container {
    position: relative;
    width: 1170px;
    height: 340px;
}

.major-banner-switch {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    bottom: 10px;
    width: 100%;
    z-index: 1;
}

.major-banner-switch label {
    display: inline-block;
    width: 32%;
    height: 6px;
    cursor: pointer;
}

.major-banner-slider-inner {
    width: 1170px;
    height: auto;
}

.major-banner-slides {
    display: flex;
    width: 100%;
    transition: all 0.5s;
}

.major-banner-slides img {
    width: 1170px;
    height: 320px;
    float: left;
}

.major-banner-text-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.major-banner-title {
    width: 310px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: right;

    color: rgb(0, 0, 0);
}

.major-banner-description {
    margin-top: 20px;
    width: 825px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: justify;
}

.major-banner-content {
    height: 270px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 6;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.major-banner-link {
    position: absolute;
    bottom: 8px;
    right: 0px;
    color: rgb(0, 0, 0);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;
    text-align: justify;
}

.major-banner-link:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 0px;
    text-decoration: none;
}

.switch-btn-default {
    background-color: rgb(0, 0, 0);
}

.switch-btn-active {
    background-color: rgb(126, 38, 107);
}

@media (max-width: 1230px) {
    .major-slider-container {
        width: 100%;
        height: auto;
    }

    .major-banner-img-container {
        width: 100%;
        height: auto;
    }

    .major-banner-slider-inner {
        width: 100%;
    }

    .major-banner-slides img {
        width: 100%;
        height: auto;
        float: left;
    }

    .major-banner-switch {
        position: absolute;
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        left: 0;
        bottom: 10px;
        width: 100%;
        z-index: 1;
    }

    .major-banner-switch label {
        display: inline-block;
        width: 50px;
        height: 10px;
        cursor: pointer;
    }

    .major-banner-text-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .major-banner-title {
        width: 100%;
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        text-align: center;
        color: rgb(0, 0, 0);
        line-height: 40px;
    }

    .major-banner-description {
        margin-top: 20px;
        width: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: justify;
    }

    .major-banner-content {
        height: auto;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 4;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }

    .major-banner-link {
        position: relative;
        right: 0px;
        color: rgb(0, 0, 0);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 39px;
        text-decoration: none;
        text-align: justify;
    }
}