<div class="major-slider-container ">
      <div class="major-banner-img">
      </div>
      <div class="major-banner-text-container">
            <div class="major-banner-title noselect">
                  Keep an eye on your Projects
            </div>

            <div class="major-banner-description">
                  <div class="major-banner-content">
                        From the start of development to the support stage. Manage test automation
                        projects with maximum convenience.
                  </div>
                  <a class="major-banner-link noselect" href="/gettingstarted">Getting started</a>
            </div>
      </div>
</div>