<div class="trusted-container">
    <div class="trusted-content">
        <div class="trusted-title">Trusted By</div>
        <div class="trusted-slider">
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
            <div class="trusted-owner"></div>
        </div>
    </div>
</div>