@page "/login"

<PageTitle>LogIn</PageTitle>

<div class="center-form">
    <div class="login-form">
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Password" />
        <button class="btn-login">Ok</button>
    </div>
</div>