@page "/registration"
@layout EmptyLayout

<link href="css/login-validation.css" rel="stylesheet" />

@using System.ComponentModel.DataAnnotations
@using TXSTBXRD_UI.Models.Forms

<PageTitle>Create new account</PageTitle>

<EditForm Model="create">
    <DataAnnotationsValidator />
    <div class="center-form">
        <a class="navbar-brand noselect" href="/">TXSTBXRD</a>
        <p class="login-form-description">Create new account to TXSTBXRD</p>
        <div class="login-form">
            <div class="create-selection">
                <input class="create-input" type="text" placeholder="First Name" />
                <input class="create-input" type="text" placeholder="Last Name" />
            </div>
            <InputText class="login-input" placeholder="Username" @bind-Value="create.Username" />
            <ValidationMessage For="@(() => create.Username)" />

            <InputText class="login-input" placeholder="Email" @bind-Value="create.Email" />
            <ValidationMessage For="@(() => create.Email)" />

            <InputText class="login-input" placeholder="Password" @bind-Value="create.Password" type="password"/>
            <ValidationMessage For="@(() => create.Password)" />
                
            <div class="login-options noselect">
            </div>
            <button class="btn-login">Create</button>
        </div>
        <br>
        <div class="login-form-add-users noselect">
            <p class="add-user-content login-lable"> Already have login and password?
                <a class="login-link" href="/login">Sign in</a>
            </p>
        </div>
    </div>
</EditForm>

@code {
    Create create = new();
}