<div class="banner-content noselect">
    <img class="banner-img" src="/Resource/MainBanner.avif">
    <h1 class="banner-title">New level of Quality</h1>
    <div class="banner-description">Specially for your Project.</div>
</div>