<div class="breeding-background">
    <div class="breeding-container">
        <div class="breeding-header noselect">
            <div class="breeding-title">Useful</div>
            <a class="breeding-all-link" href="/useful">View all useful</a>
        </div>
        <div class="breeding-content">
            <div class="breeding-card"></div>
            <div class="breeding-card"></div>
            <div class="breeding-card"></div>
            <div class="breeding-card"></div>
            <div class="breeding-card"></div>
            <div class="breeding-card"></div>
        </div>
    </div>
</div>