.cookies-main {
    pointer-events: none;
    z-index: 1;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 375px;
    height: 340px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}

.cookies-content {
    padding: 7px 20px 27px 20px;
}

.cookies-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 17px;
    color: rgb(0, 0, 0);

}

.cookies-body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    color: rgb(155, 155, 155)
}

.cookies-control {
    pointer-events: auto;
    text-align: center;
    margin-bottom: 17px;
    width: 338px;
    height: 30px;
}

.cookies-control-button {
    background: rgb(113, 188, 120);
    border-radius: 25px;
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
}

.cookies-more {
    pointer-events: auto;
    color: rgb(0, 0, 0);
}

.cookies-img {
    width: 80px;
    height: 80px;
    margin-bottom: 17px;
    background: url(/Resource/cookies.png);
}

@media (max-width: 415px) {
    .cookies-main {
        position: fixed;
        width: 100%;
        left: 0px;
        bottom: 0px;
        border-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}