<div class="cookies-main">
    <div class="cookies-content">
        <div class="cookies-header">By continuing to use the website, you agree to the use of cookies </div>
        <div class="cookies-control"> </div>
        <div class="cookies-body">This website uses cookies for your quick and convenient work with it. read more.
            You can change the cookie settings in your browser, but the functionality of the site in this case may be
            limited.</div>
    </div>
</div>