@inherits LayoutComponentBase

<div class="wrapper">
    <main>
        <TXSTBXRD_UI.Components.Notification.Notification/>
        <article class="content">
            @Body
        </article>
    </main>
</div>
