<div class="futor-background">
    <div class="futor-content noselect">
        <div class="futor-cards">
            <div class="futor-card first-card">
                <a class="futor-brand" href="/">TXSTBXRD</a>
            </div>
            <div class="futor-card">
                <ul class="futor-list">
                    <li>Guide for you</li>
                    <li><a class="futor-list-link futor-link-line" href="/">Guide 1</a></li>
                    <li><a class="futor-list-link futor-link-line" href="/">Guide 2</a></li>
                </ul>
            </div>
            <div class="futor-card">
                <ul class="futor-list futor-midle-card">
                    <li>Support</li>
                    <li><a class="futor-list-link futor-link-line" href="/">Support 1</a></li>
                    <li><a class="futor-list-link futor-link-line" href="/">Support 2</a></li>
                </ul>
            </div>
            <div class="futor-card second-last-card">
                <ul class="futor-list futor-second-last-card">
                    <li>News</li>
                    <li><a class="futor-list-link futor-link-line" href="/">News 1</a></li>
                    <li><a class="futor-list-link futor-link-line" href="/">News 2</a></li>
                </ul>
            </div>
            <div class="futor-card last-card">
                <div class="share">
                </div>
            </div>
        </div>
        <div class="since">Since 2022</div>
    </div>
</div>