<div class="futor-background">
    <div class="futor-content">
        <a class="futor-brand" href="/">TXSTBXRD</a>
        <p class="year-start-impl">Since 2022</p>
        <ul class="futor-list">
            <li>Guide for you</li>
            <li><a class="futor-list-link" href="/">Guide 1</a></li>
            <li><a class="futor-list-link" href="/">Guide 1</a></li>
        </ul>
        <ul class="futor-list">
            <li>Support</li>
            <li><a class="futor-list-link" href="/">Guide 1</a></li>
            <li><a class="futor-list-link" href="/">Guide 1</a></li>
        </ul>
        <ul class="futor-list">
            <li>News</li>
            <li><a class="futor-list-link" href="/">Guide 1</a></li>
            <li><a class="futor-list-link" href="/">Guide 1</a></li>
        </ul>

        <div class="futor-share">
            <div></div>
        </div>
    </div>
</div>