<div class="header">
    <a class="navbar-brand noselect" href="/">TXSTBXRD</a>

    <!-- <TXSTBXRD_UI.Components.Header.UserPopup /> -->
    <TXSTBXRD_UI.Components.Header.Guest />
</div>

@code {
    protected bool IsDisabled { get; set; }

    private void closeMainMenu()
    {
        if (IsDisabled)
            IsDisabled = !IsDisabled;
    }
}