@using TXSTBXRD_UI.Utils.Libs

@inject Utils.ILocalStorage LocalStorage

<div class="header">
    <a class="navbar-brand noselect" href="/">TXSTBXRD</a>

    @if (UserExists)
    {
        <TXSTBXRD_UI.Components.Header.UserPopup onDeAuth="userExists => UserExists = userExists"/>
    }
    else
    {
        <TXSTBXRD_UI.Components.Header.Guest />
    }

</div>

@code {
    protected bool UserExists = false;

    protected override async void OnInitialized()
    {
        var token = await LocalStorage.GetStringAsync(RegularStorageName.AuthorizationToken);

        if (token != null)
            UserExists = true;

        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}