<div class="header">
    <a class="navbar-brand noselect" href="/">TXSTBXRD</a>

    <ul class="menu-main">
        <div class="auth-popup">
            <div class="auth-users">
                <img src="/Resource/userAvatar.png" class="auth-users-img">
                <a class="auth-btn">ItRealRew</a>
            </div>

            <div class="auth-items">
                <div class="auth-item">
                    <img src="/Resource/projects.png" class="auth-item-img">
                    <a class="auth-item-link">Projects</a>
                </div>
                <div class="auth-item">
                    <img src="/Resource/settings.png" class="auth-item-img">
                    <a class="auth-item-link">Settings</a>
                </div>
                <div class="auth-item">
                    <img src="/Resource/guide.png" class="auth-item-img">
                    <a class="auth-item-link">Support</a>
                </div>
            </div>
        </div>
        <a @onclick="closeMainMenu" class="menu-link noselect" href="login">LogIn</a>
        <a @onclick="closeMainMenu" class="menu-link noselect" href="#Support">Support</a>
    </ul>


    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" @bind="IsDisabled" class="position-toogle" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="mobile-menu-box">
            <li><a @onclick="closeMainMenu" class="menu-link-mobile noselect" href="login">LogIn</a></li>
            <li><a @onclick="closeMainMenu" class="menu-link-mobile noselect" href="#Support">Support</a></li>
        </ul>
    </div>
</div>

@code {
    protected bool IsDisabled { get; set; }

    private void closeMainMenu()
    {
        if (IsDisabled)
            IsDisabled = !IsDisabled;
    }
}