@inherits LayoutComponentBase

<div class="wrapper">
    <main>
        <TXSTBXRD_UI.Components.Notification.Notification/>
        <HeadMenu />
        <Banner />
        <article class="content">
            @Body
        </article>
        <BreedingBlock />
        <Futor />
        <CookiesPopup />
    </main>
</div>
