@inherits LayoutComponentBase

<div class="wrapper">
    <main>
        <HeadMenu />
        <Banner />
        <article class="content">
            @Body
        </article>

        <Futor />
    </main>
</div>
