@inherits LayoutComponentBase

<div class="wrapper">
    <main>
        <article class="content">
                <h1 class="title">Error 404 - This page is not found.</h1>
                <a class="major-link" href="/">Please, go to Major page </a>
            @Body
        </article>
    </main>
</div>
