<div class="breeding-banner-container">
    <article class="breeding-banner-content">
        <div class="breeding-banner-area">
            <h1 class="breeding-class-title">title breeding banner</h1>
        </div>
    </article>
</div>