<ul class="menu-main">
    <div class="auth-popup">
        <div class="auth-users">
            <div class="auth-profile"></div>
            <img src="/Resource/userAvatar.png" class="auth-users-img">
            <a class="auth-btn">ItRealRew</a>
        </div>

        <div class="auth-items">
            <div class="auth-item">
                <div class="item"></div>
                <img src="/Resource/projects.png" class="auth-item-img">
                <a class="auth-item-link">Projects</a>
            </div>
            <div class="auth-item">
                <div class="item"></div>
                <img src="/Resource/settings.png" class="auth-item-img">
                <a class="auth-item-link">Settings</a>
            </div>
            <div class="auth-item">
                <div class="item"></div>
                <img src="/Resource/guide.png" class="auth-item-img">
                <a class="auth-item-link">Support</a>
            </div>
        </div>
    </div>
</ul>