.auth-btn {
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: rgb(255, 255, 255);
}

.auth-items {
    display: none;
}

.auth-users:hover~.auth-items,
.auth-items:hover {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    align-items: flex-start;
    gap: 5px;
    padding-bottom: 7px;
    padding-top: 12px;
    padding-left: 3px;
    position: relative;
}

.auth-popup {
    display: inline-table;
    width: max-content;
    min-width: 158px;
    margin-top: -14px;
}

.auth-popup:hover>.auth-users {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
}

.auth-btn:hover>.auth-users {
    color: rgb(0, 0, 0);
}

.auth-users {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -13px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.auth-users:hover {
    background-color: rgb(255, 255, 255);
}

.auth-users-img {
    width: 30px;
    height: 30px;
    z-index: 2;
    margin-right: 7px;
}

.auth-popup:hover>.auth-users>.auth-btn {
    color: rgb(0, 0, 0);
}

.auth-popup:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 40px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 30%);
}

.auth-item {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    cursor: pointer;
}

.auth-item-img {
    width: 24px;
    height: 24px;
}

.auth-item-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-left: 10px;
    text-decoration: none;
}

.auth-profile {
    position: absolute;
    background-color: rgb(255 0 0 / 20%);
    width: -webkit-fill-available;
    width: -moz-available;
    height: 80%;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: -5px;
    z-index: 1;
    display: none;
}

.auth-users:hover>.auth-profile {
    display: inline;
}

.item {
    width: -webkit-fill-available;
    width: -moz-available;
    height: 30px;
    margin-left: -8px;
    margin-right: 5px;
    background-color: rgb(255 0 0 / 20%);
    position: absolute;
    display: none;
    border-radius: 5px;
}

.auth-item:hover>.item {
    display: inline;
}

.menu-main {
    margin-left: 200px;
    list-style: none;
    padding: 0 15px;
    text-align: right;
    position: relative;
}