@font-face {
    font-family: 'Inter';
    src: url('/css/Inter/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/css/JBM/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

html,
body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    height: 100%;
    margin: 0;
}

#app {
    overflow-x: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 46px;
    flex: 1;
    overflow: auto;
}

.hello-container {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center
}

.loader-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center
}

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0);
    border-color: rgb(126, 38, 107) transparent rgb(126, 38, 107) transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}